{% extends 'floodsenseapp/base.html' %}
{% block title %}FAQs{% endblock %}
{% block content %}

<div class="px-10 pb-10">



    <section class="m-1 rounded md:px-4 py-2 mb-4">

        <div class="container mx-2 md:mx-auto p-6 mt-20">
            <h1 class="text-3xl font-bold mb-6">About Us</h1>

            <div class="bg-white shadow-md rounded px-2 md:px-8 py-6 mb-6">
                <h2 class="text-2xl font-bold mb-4 text-center md:text-left"><i class="fa-solid fa-bullseye mr-2 text-2xl"></i>Our Mission</h2>
                <p class="text-gray-700 leading-relaxed text-justify">
                    Our mission is to drive innovation, sustainability, and collaboration to address global challenges. We aim to develop transformative solutions that improve lives, empower communities, and protect the environment. By aligning with global sustainability goals, we work with partners to create inclusive, accessible technologies. Our customer-first approach ensures solutions meet real-world needs, promoting education and empowering individuals for a better future, while maintaining ethical practices and measurable outcomes.                
                </p>
            </div>

            <div class="bg-white shadow-md rounded px-2 md:px-8 py-6 mb-6">
                <h2 class="text-2xl font-bold mb-4 text-center md:text-left"><i class="fa-solid fa-eye mr-2 text-2xl"></i>Our Vision</h2>
                <p class="text-gray-700 leading-relaxed text-justify">
                    Our vision is to build a future where technology, sustainability, and social progress converge. We aspire to create a world where innovation drives positive change, promotes equity, and enhances the quality of life for all. We envision a global community where environmental stewardship and inclusivity are central, and opportunities for growth are universal. By pioneering green technologies and fostering partnerships, we strive to shape a brighter, fairer, and more sustainable future for future generations.                
            </p>
            </div>

            <div class="bg-white shadow-md rounded px-8 py-6 mb-6">
                <h2 class="text-2xl font-bold mb-4">Our Team</h2>
                <div class="grid grid-cols-3 gap-4">
                    <div class="p-4">
                        <div class="bg-gray-200 rounded-lg p-6">
                            <h3 class="text-lg font-bold mb-2">Miss. Neha Athavle</h3>
                            <p class="text-gray-700">Mentor</p>
                        </div>
                    </div>
                    <div class="p-4">
                        <div class="bg-gray-200 rounded-lg p-6">
                            <h3 class="text-lg font-bold mb-2">Prajkta Sargar</h3>
                            <p class="text-gray-700">Team Leader</p>
                            <!-- <p class="text-gray-700 mt-2 "><i class="fa-solid fa-phone mr-2"></i> +91 11111 11111</p> -->
                        </div>
                    </div>
                    <div class="p-4">
                        <div class="bg-gray-200 rounded-lg p-6">
                            <h3 class="text-lg font-bold mb-2">Pranjal Girkar</h3>
                            <p class="text-gray-700">Team</p>
                            <!-- <p class="text-gray-700 mt-2 "></p><i class="fa-solid fa-phone mr-2"></i> +91 11111 11111</p> -->
                        </div>
                    </div>



                </div>
            </div>

            <div class="bg-white shadow-md rounded px-8 py-6">
                <h2 class="text-2xl font-bold mb-4 text-center">Usha Mittal Institute of Technology | SNDT Women's University, Mumbai</h2>
                <br>
                <h2 class="text-2xl font-bold mb-4">Contact Information</h2>
                <p class="text-gray-700"><span class="font-bold">Email:</span> office@umit.sndt.ac.in</p>
                <p class="text-gray-700"><span class="font-bold">Phone:</span> 022-26606040</p>
                <p class="text-gray-700"><span class="font-bold">Address:</span> UMIT, SNDT Women's University, Juhu-Tara Road, Sir Vitthaldas Vidyavihar, Santacruz(W), Mumbai 400049</p>
            </div>
        </div>


    </section>



</div>
{% endblock %}